<div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2"
          style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Carrito de compras</h1>
                    <h6 class="mb-0 text-muted">{{count}} contar items</h6>
                  </div>
                  
                  <hr class="my-4" />

                  <div  class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/imgProductos/5fecd481e16bbe21cb00215182bad812.webp"
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{nombre}}Nombre</h6>
                      <h6 class="text-black mb-0">{{Descripcion}}Descripcion</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                        class="btn btn-link px-2"
                        onclick="" <!-Aqui falta lo eliminar ->>
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1"min="0" name="quantity" value="1" 
                      type="number" class="form-control form-control-sm"/>
                      
                      <button
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{Price_Unit}} $Precio por unidad</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i
                          class="fas fa-times"
                        ></i></a>
                    </div>
                  </div>

                  <hr class="my-4" />

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"
                        ></i>Volver a la tienda</a></h6>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Total</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">{{count}} contar items</h5>
                    <h5>{{Total_price}} $precio total</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Precio de envio</h5>

                  <div class="mb-4 pb-2 ">
                    <select class="select form-select">
                      <option value="8000" selected>Envio estandar $8000</option>
                    </select>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total: </h5>
                    <h5>$ {{Total_price}}</h5>
                  </div>

                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  >Finalizar</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>