<div class="container p-4">
    <div class="row">

        {{#each productos}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{url}}">
                        <h3 class="card-title text-uppercase">
                            {{nombre}}
                        </h3>
                    </a>
                    <p class="m-2">{{descripcion}}</p>  
                    <a href="/links/delete/{{id}}" class="btn btn-danger">Borrar Prodcuto</a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary">EDITAR</a>

                </div>
            </div>
        </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>no hay productos aun</p>
                    <a href="/links/add">Agrega uno</a>

                </div>
            </div>
        {{/each}}

    </div>

</div>