 
<div class="d-flex justify-content-center">
  <h1 class="mb-5">productos</h1>
  </div>
<div class="container  d-flex ">
  <div class="row">    
   {{#each productos}}
    <div class="col-md">
        <div class="card shadow-lg p-4 bg-white text-dark" style="width: 300px;">
          <img class="card-img-top"
            src="/imgProductos/{{source}}"
            alt="producto" width="250px" height="150px">
         
         <div class="card-body text-center">
           <h3 class="card-title mb-5" editable="inline">{{nombre}}</h3>
            <h3 class="card-title mb-5" editable="inline">{{descripcion}}</h3>
            <h3 class="card-title mb-5" editable="inline">{{laboratorio}}</h3>
            <h3 class="card-title mb-5" editable="inline">{{presentacion}}</h3>
            <h3 class="card-title mb-5" editable="inline">{{tamanio}}</h3>
            <h3 class="card-title mb-5" editable="inline">${{precio}}</h3>
             <div class=" text-center">
                
                <a href="/delete/{{id}}" class="btn btn-danger">Borrar Producto</a>
                    <a href="/edit/{{id}}" class="btn btn-secondary">EDITAR</a>
              </div>
          </div>
        </div>
    </div>

        {{else}}
                <div class="card card-body text-center">
                    <p>No hay productos aún</p>
                    <a  class="btn btn-success" href="/add">Agregar uno</a>

                </div>
        {{/each}}
        
      </div>
    </div>
  </div>
</div>


                    
